html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
================================================================================
HEADER
================================================================================
*/


#countdown{
  color:white;
}


.one{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
}


.overlay-1{
  box-sizing: border-box;
background-color: rgba(0,0,0,0.75);
height: 100%;
width: 100%;
position: absolute;
top: 0;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

header{
position: relative;
overflow: hidden;
box-sizing: border-box;
}

.header-image{
  box-sizing: border-box;
}

.title{
  box-sizing: border-box;
  color: white;
  font-size: 60px;
}

.date{
  color: white;
}
.logo{
width: 18vw;
}
#countdown{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.count-down-units{
  font-size: 3vw;
padding: 1vw;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.count-down-tail{
font-size: 1.6vw;
opacity:0.5;
}

.sponsor-text{
  color: rgba(255,255,255, 0.5);
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-size: 1.3vw;

}
.sponsor-image{
width:3vw;
  align-self:center;
  padding: 0.7vw;
}
.sponsors{
  display:flex;

}
.title-container {
    display: flex;
    justify-content: center;
}

.date-container{
  display: flex;
  justify-content: center;
}
/*
=================================================================================
BATTLE OF BANDS
=================================================================================
*/
.two{
  width: 100%;
  height: auto;
  display: block;
}

.bob{
  position: relative;

}

.overlay-2{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
  height:100%;
  width: 100%;
}

p.Event-title {
  color: white;
  text-align: left;
  padding-left: 4vw;
  margin-top: 40px;
  font-size: 8vw;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  opacity: 1.0;
  width: 50%;
}

p.Event-text {
      text-align: left;
      margin-top: 30px;
      padding-left: 4vw;
      font-size: 2.2vw;
      line-height: 2.9vw;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      width: 60%;
}

p.etcbob {
  color: #eccbb2;
}

a.knowmore{

    margin-left: 4.3vw;
  display: block;
  text-align: center;
      border-radius: 40px;
  font-size: 2.4vw;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  width: 16vw;
  padding: 0.7vw;
  margin-top: 3vw;
}
a.knowmore:link,a.knowmore:visited{
  text-decoration: none;
}

a.knowmore:hover{
  text-decoration: none;

}

a.knowmore:active{
  text-decoration: none;
}


a.kmcbob:link,a.kmcbob:visited{
  background-color: rgba(169,123,230,0.9);
  color: #1d2163;
}

a.kmcbob:hover{
  color: #ffffff;
    background-color: rgba(133,89,223,0.9);
}

/*
================================================================================
SPORTS
================================================================================
*/

.two{
  width: 100%;
  height: auto;
  display: block;
}

.overlay-3{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.8) -34%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.6) 68%, rgba(0,0,0,1) 42%);
  height:100%;
  width: 100%;
}
.sports{
  position: relative;

}

p.etcsports{
  color: #f1b9b9;
}

a.kmcsports:link,a.kmcsports:visited{
  background-color: rgba(100, 181, 102, 0.9);
  color: #fff8dc;
}

a.kmcsports:hover{
  color: #ffffff;
    background-color: rgba(56, 175, 98, 0.9);
}
/*
================================================================================
CULTURAL
================================================================================
*/

.cultural{
  position: relative;
}


.overlay-4{
  position: absolute;
  box-sizing: border-box;
  top: 0;
background: linear-gradient(0deg, rgba(0,0,0,0.8) -13%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.6) 43%, rgba(0,0,0,1) 42%);
  height:100%;
  width: 100%;
}

p.etccultural{
  color: #e8d2f5;
}

a.kmccultural:link,a.kmccultural:visited{
  background-color: rgba(234, 234, 234, 0.9);
color: #071190;
}

a.kmccultural:hover{
  background-color: rgba(255, 255, 255, 0.9);
color: #8c54f7;
}


/*
=================================================================================
LITERARY
=================================================================================
*/

.literary{
  position: relative;
}

.overlay-5{
  position: absolute;
  box-sizing: border-box;
  top: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0.6) -13%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.75) 62%, rgba(0,0,0,1) 67%);
  height:100%;
  width: 100%;
}

p.etcliterary{
  color: #efd2b6;
}

a.kmcliterary:link,a.kmcliterary:visited{
  background-color: rgba(232, 75, 126, 0.9);
color: #fff8dc;
}

a.kmcliterary:hover{
  background-color: rgba(232, 4, 109, 0.9);
color: #ffffff;
}
/*
================================================================================
GAMING
================================================================================
*/


.gaming{
  position: relative;
}

.overlay-6{
  position: absolute;
  top: 0;

}

p.etcgaming{
  color: #f0ffff;
}

a.kmcgaming:link,a.kmcgaming:visited{
  background-color: rgba(216, 216, 216, 0.9);
color: #000000;
}

a.kmcgaming:hover{
  background-color: rgba(255,255, 255, 0.9);
color: #000000;
}


/*
================================================================================
NAVIGATION BAR
================================================================================
*/
nav{
  position: fixed;
  top:0;
  width: 100%;
}
.nav{
  background-color: rgba(0,0,0,0.85);
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;

}
.nav-item{
  margin: 10px 3vw 10px 3vw;
  opacity: 0.7;
}

a.nav-link{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
  color: rgba(255,255,255,1.0);
}

a.nav-link:link,a.nav-link:visited{
  text-decoration: none;
}

a.nav-link:hover{
  text-decoration: underline;

}

a.nav-link:active{
  text-decoration: none;
}

.active{
  opacity: 1.0;
}
/*
================================================================================
MAIN HEADING
================================================================================
*/

.main-head{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 8vw;
  text-align: center;
  margin-top: 100px;
  color: white;
}
/*
================================================================================
CARDS
================================================================================
*/

.card-container{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
.card1, .card2,.card3{
  background-color: #197f77;
  width: 42.5%;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.day{
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-size: 4vw;
  color: white;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.column-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vw;
}



.event-column,.time-column,.venue-column
{
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.3vw;
  line-height: 3vw;
}

body{
  background-color: black;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}
