@font-face {
  font-family: 'Rust';
  src: url('introrustg-base2line-webfont.woff') format('woff');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
================================================================================
HEADER
================================================================================
*/


#countdown{
  color:white;
}

.home-container{
  height: 100%;
  width: 100%;
  background-color: #616161;
}

.one{
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}


.overlay-1{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header{
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-image{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h3.aiims,h3.raipur{
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  color: #fff;
}

h3.aiims{
  padding-bottom: 10px;
  font-size: 2.5vw;
}

h3.raipur{
  font-size: 2vw;
  font-weight: 300;
}



.title{
  font-family: "Rust",sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-size: 5vw;
}

.date{
  color: white;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 2.6vw;
}
.logo{
  width: 18vw;
}
#countdown{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;

}
.count-down-units{
  font-size: 3vw;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.count-down-tail{
  font-size: 1.6vw;
  opacity:0.5;
}

.sponsor-text{
  color: rgba(255,255,255, 0.5);
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-size: 1.3vw;

}
.sponsor-image{
  width:3vw;
  -ms-flex-item-align:center;
  align-self:center;
  padding: 0.7vw;
}
.sponsors{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

}
.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.date-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*
=================================================================================
BATTLE OF BANDS
=================================================================================
*/
.two{
  width: 100%;
  height: auto;
  display: block;
}

.bob{
  position: relative;

}

.overlay-2{
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.8)), color-stop(52%, rgba(0,0,0,0)), color-stop(98%, rgba(0,0,0,1)), to(rgba(0,0,0,1)));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
  height:100%;
  width: 100%;
}

p.Event-title {
  color: white;
  text-align: left;
  padding-left: 4vw;
  margin-top: 40px;
  font-size: 8vw;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  opacity: 1.0;
  width: 50%;
}

p.Event-text {
  text-align: left;
  margin-top: 30px;
  padding-left: 4vw;
  font-size: 2.2vw;
  line-height: 2.9vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: 60%;
}

p.etcbob {
  color: #eccbb2;
}

a.knowmore{

  margin-left: 4.3vw;
  display: block;
  text-align: center;
  border-radius: 40px;
  font-size: 2.4vw;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  width: 16vw;
  padding: 0.7vw;
  margin-top: 3vw;
}
a.knowmore:link,a.knowmore:visited{
  text-decoration: none;
}

a.knowmore:hover{
  text-decoration: none;

}

a.knowmore:active{
  text-decoration: none;
}


a.kmcbob:link,a.kmcbob:visited{
  background-color: rgba(169,123,230,0.9);
  color: #1d2163;
}

a.kmcbob:hover{
  color: #ffffff;
  background-color: rgba(133,89,223,0.9);
}

/*
================================================================================
SPORTS
================================================================================
*/

.two{
  width: 100%;
  height: auto;
  display: block;
}

.overlay-3{
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2.94%, rgba(0, 0, 0, 1)), color-stop(27.73%, transparent), color-stop(48.32%, rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 2.94%, transparent 27.73%, rgba(0, 0, 0, 0.6) 48.32%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1) 2.94%, transparent 27.73%, rgba(0, 0, 0, 0.6) 48.32%);
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 2.94%, transparent 27.73%, rgba(0, 0, 0, 0.6) 48.32%);
  height:100%;
  width: 100%;
}
.sports{
  position: relative;

}

p.etcsports{
  color: #f1b9b9;
}

a.kmcsports:link,a.kmcsports:visited{
  background-color: rgba(100, 181, 102, 0.9);
  color: #fff8dc;
}

a.kmcsports:hover{
  color: #ffffff;
  background-color: rgba(56, 175, 98, 0.9);
}

/*
================================================================================
FASHION
================================================================================
*/

.two{
  width: 100%;
  height: auto;
  display: block;
}

.overlay-10{
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2.94%, rgba(0, 0, 0, 1)), color-stop(27.73%, transparent), color-stop(48.32%, rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 2.94%, transparent 27.73%, rgba(0, 0, 0, 0.6) 48.32%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1) 2.94%, transparent 27.73%, rgba(0, 0, 0, 0.6) 48.32%);
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 2.94%, transparent 27.73%, rgba(0, 0, 0, 0.6) 48.32%);
  height:100%;
  width: 100%;
}
.alamode{
  position: relative;

}

p.etcfashion{
  color: #ffed9d;
}

a.kmcfashion:link,a.kmcfashion:visited{
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}

a.kmcfashion:hover{
  color: #ffffff;
  background-color: rgba(146, 146, 146, 0.9);
}
/*
================================================================================
CULTURAL
================================================================================
*/

.cultural{
  position: relative;
}


.overlay-4{
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13.87%, rgba(0, 0, 0, 0.8)), color-stop(31.51%, transparent), color-stop(46.64%, rgba(0, 0, 0, 0.6)), color-stop(68.91%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 13.87%, transparent 31.51%, rgba(0, 0, 0, 0.6) 46.64%, rgba(0, 0, 0, 1) 68.91%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 13.87%, transparent 31.51%, rgba(0, 0, 0, 0.6) 46.64%, rgba(0, 0, 0, 1) 68.91%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 13.87%, transparent 31.51%, rgba(0, 0, 0, 0.6) 46.64%, rgba(0, 0, 0, 1) 68.91%);
  height:100%;
  width: 100%;
}

p.etccultural{
  color: #e8d2f5;
}

a.kmccultural:link,a.kmccultural:visited{
  background-color: rgba(234, 234, 234, 0.9);
  color: #071190;
}

a.kmccultural:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: #8c54f7;
}

/*
================================================================================
ENCORE
================================================================================
*/

.encore{
  position: relative;
}

.overlay-7{
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19.33%, rgba(0, 0, 0, 0.8)), color-stop(46.22%, transparent), color-stop(70.59%, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  height: 100%;
  width: 100%;
}

p.etcencore{
  color: #ecc89c;
}

a.kmcencore:link,a.kmcencore:visited{
  background-color: rgba(196, 145, 87, 0.9);
  color: #000000;
}

a.kmcencore:hover{
  background-color: rgba(141, 87, 35, 0.9);
  color: #ffffff;
}


/*
================================================================================
ARTISTE COVE
================================================================================
*/
.art{
  position: relative;
}

.overlay-8{
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19.33%, rgba(0, 0, 0, 0.8)), color-stop(46.22%, transparent), color-stop(70.59%, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  height: 100%;
  width: 100%;
}

p.etcart{
  color: #9ABDFF;
}

a.kmcart:link,a.kmcart:visited{
  background-color: rgba(105, 179, 243, 0.9);
  color: #000000;
}

a.kmcart:hover{
  background-color: rgba(75, 132, 236, 0.9);
  color: #ffffff;
}


/*
=================================================================================
LITERARY
=================================================================================
*/

.literary{
  position: relative;
}

.overlay-5{
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12.18%, rgba(0, 0, 0, 0.6)), color-stop(44.96%, transparent), color-stop(65.13%, rgba(0, 0, 0, 0.75)), color-stop(87.39%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 12.18%, transparent 44.96%, rgba(0, 0, 0, 0.75) 65.13%, rgba(0, 0, 0, 1) 87.39%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 12.18%, transparent 44.96%, rgba(0, 0, 0, 0.75) 65.13%, rgba(0, 0, 0, 1) 87.39%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 12.18%, transparent 44.96%, rgba(0, 0, 0, 0.75) 65.13%, rgba(0, 0, 0, 1) 87.39%);
  height:100%;
  width: 100%;
}

p.etcliterary{
  color: #efd2b6;
}

a.kmcliterary:link,a.kmcliterary:visited{
  background-color: rgba(232, 75, 126, 0.9);
  color: #fff8dc;
}

a.kmcliterary:hover{
  background-color: rgba(232, 4, 109, 0.9);
  color: #ffffff;
}

/*
================================================================================
DIOPTRE
================================================================================
*/

.photography{
  position: relative;
}

.overlay-9{
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19.33%, rgba(0, 0, 0, 0.8)), color-stop(46.22%, transparent), color-stop(70.59%, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 19.33%, transparent 46.22%, rgba(0, 0, 0, 1) 70.59%, rgba(0, 0, 0, 0.6));
  height: 100%;
  width: 100%;
}

p.etcdioptre{
  color: #a2c6cc;
}

a.kmcdioptre:link,a.kmcdioptre:visited{
  background-color: rgba(1, 177, 157, 0.9);
  color: #000000;
}

a.kmcdioptre:hover{
  background-color: rgba(9, 170, 200, 0.9);
  color: #ffffff;
}

/*
================================================================================
GAMING
================================================================================
*/


.gaming{
  position: relative;
}

.overlay-6{
  position: absolute;
  top: 0;

}

p.etcgaming{
  color: #f0ffff;
}

a.kmcgaming:link,a.kmcgaming:visited{
  background-color: rgba(216, 216, 216, 0.9);
  color: #000000;
}

a.kmcgaming:hover{
  background-color: rgba(255,255, 255, 0.9);
  color: #000000;
}


/*
================================================================================
NAVIGATION BAR
================================================================================
*/
nav{
  position: fixed;
  top:0;
  width: 100%;
}
.nav{
  background-color: rgba(0,0,0,0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;

}
.nav-item{
  margin: 10px 5px 10px 5px;
  opacity: 0.7;
}

a.nav-link{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
  color: rgba(255,255,255,1.0);
}

a.nav-link:link,a.nav-link:visited{
  text-decoration: none;
}

a.nav-link:hover{
  text-decoration: underline;
}

a.nav-link:active{
  text-decoration: none;
}

.active{
  opacity: 1.0;
}

/*
================================================================================
FOOTER MAIN
================================================================================
*/

.flinks{
  display: none;
}

img.social-icon{
  display: block;
  width: 5vw;
  height: 5vw;
  padding-left: 5vw;
  padding-top: 30px;
  padding-bottom: 30px;
}

a.app{
  display: block;
}

footer.home{
  width: 100%;
  background-color: #272727;
}

.social-home{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-app{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p.social {
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-size: 1.5vw;
  padding-left: 0.8vw;
  padding-top: 38px;
  color: #b7b7b7;
}

a.app:link{
  text-decoration: none;
}

a.app {
  font-family: "Josefin Sans",sans-serif;
  font-weight: 600;
  padding-left: 0.8vw;
  font-size: 2.3vw;
  padding-bottom: 16px;
  padding-top: 3px;
  color: #fff;
}
/*
================================================================================
MAIN HEADING
================================================================================
*/

.main-head{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 8vw;
  text-align: center;
  margin-top: 100px;
  color: white;
}
/*
================================================================================
CARDS
================================================================================
*/

.card-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
.card1, .card2,.card3{
  background-color: #197f77;
  width: 42.5%;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.day{
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-size: 4vw;
  color: white;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.column-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 5vw;
}



.event-column,.time-column,.venue-column
{
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.3vw;
  line-height: 3vw;
}

body{
  background-color: black;
}


/*
================================================================================
CULTURAL PAGE
================================================================================
*/

.cultural-container {
  background-color: #615c72;
  height: 100%;
  width: 100%;
}

.eventcard {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
}

footer.main{
  background-color: #272727;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.eccolor1{
  background-color: #96AAE7;
}

h1.category {
  font-family: "Josefin Sans",sans-serif;
  font-weight: 600;
  font-size: 11vw;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 50px;
}

h1.culthead {
  color: #ffffff;
}


h2.event-head {
  font-family: "Josefin Sans",sans-serif;
  font-size: 4vw;
  font-weight: 600;
  text-align:center;
}

h2.ehcolor1 {
  color: #615c72;
}


p.event-tag {
  font-family: "Roboto",sans-serif;
  text-align: left;
  margin-top: 12px;
  margin-left: 3%;
  font-size: 1.7vw;
  line-height: 2.7vw;
  margin-right: 3%;
  font-weight: 300;
}

p.etcolor1 {
  color: #ffffff;
}

h3.event-subhead {
  font-family: "Josefin Sans",sans-serif;
  font-size: 4.5vw;
  margin-left: 2%;
}

h3.escolor1 {
  color: #615c72;
}

p.quote {
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2vw;
  margin-left: 3%;
  margin-top: 15px;
  margin-right: 3%;
  color: #ffffff;
  text-align: center;
}

p.quote-owner {
  text-align: right;
  margin-right: 10%;
  margin-top: 11px;
  font-family: "Roboto",sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #ffffff;
}

p.quote2{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

.poster{
  width: 75%;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
  margin-top: 30px;
  border: 2px solid #615c72;
}

.poster-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p.vervetag{
  text-align: center;
  width: 90%;
  line-height: 3vw;
  font-size: 1.7vw;
}

/*
================================================================================
RENAISSANCE
================================================================================
*/

.eccolor2{
  background-color: #5C0009;
}

h1.lithead {
  color: #ffffff;
}

p.etcolor2 {
  color: #9B96A3;
}

h3.escolor2 {
  color: #ffffff;
}

.literary-container{
  width:100%;
  height: 100%;
  background-color: #940315;
}

.icon-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

img.icon {
  display: block;
  height: 6vw;
  width: 6vw;
  margin-left: 3%;
  -ms-flex-item-align: center;
      align-self: center;
}
/*
================================================================================
A LA MODE
================================================================================
*/

h1.alahead{
  color: #504265;
}

.eccolor3{
  background-color: #685C79;
}

.fashion-container{
  height: 100%;
  width: 100%;
  background-color: #AC6C82;
}

p.etcolor3{
  color: #FFBC82;
}
/*
================================================================================
Crescendo
================================================================================
*/

h1.bobhead{
  color: #f2c880;
}

.eccolor4{
  background-color: #5E5A59;
}

.crescendo-container{
  height: 100%;
  width: 100%;
  background-color: #0D0D0D;
}

p.etcolor4{
  color: #f2c880;
}

.border1{
  border: 1px solid #000000;
}

/*
================================================================================
ARTISTE COVE MAIN PAGE
================================================================================
*/

h1.covehead{
  color: #f82f53;
}

.eccolor5{
  background-color: #ffffff;
}

.cove-container{
  height: 100%;
  width: 100%;
  background-color: #2f2f2f;
}

p.etcolor5{
  color: #2f2f2f;
}

h3.escolor5 {
  color: #f82f53;
}

p.qc2{
  color: #f82f53;
}
.border1{
  border: 1px solid #000000;
}

/*
================================================================================
SPORTS MAIN PAGE
================================================================================
*/

.eccolor6{
  background-color: #302861;
}

h1.sporthead {
  color: #afa0ff;
}

p.etcolor6 {
  color: #94cffd;
}

h3.escolor6 {
  color: #afa0ff;
}

.sports-container{
  width:100%;
  height: 100%;
  background-color: #140f30;
}


/*
================================================================================
DIOPTRE MAIN PAGE
================================================================================
*/

.eccolor7{
  background-color: #c2b7ba;
}

h1.diohead {
  color: #e9e9e9;
}

p.etcolor7 {
  color: #5f494a;
}


.dioptre-container{
  width:100%;
  height: 100%;
  background-color: #5f494a;
}


/*
================================================================================
ENCORE MAIN PAGE
================================================================================
*/

.eccolor8{
  background-color: #0b3c4c;
}

h1.encorehead {
  color: #0b3c4c;
}

p.etcolor8 {
  color: #7aaabb;
}

h3.escolor8{
  color: #1a8bb2
}


.encore-container{
  width:100%;
  height: 100%;
  background-color: #1a8bb2;
}

body.encore{
  background-color: #1a8bb2;
}
/*
================================================================================
CONTACT US
================================================================================
*/
.contacts-container{
  height: 100%;
  width: 100%;
  background-color: #ffcb6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1.contact-head{
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  margin-top: 50px;
  color: #756479;
  font-size: 10vw;
}

.contact-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
}

ul.contacts {
    margin-right: 4vw;
    text-align: left;
}

li.contact-name {
    font-family: "Poppins",sans-serif;
    color: #756479;
    font-weight: 400;
    font-size: 3vw;
    margin-top: 23px;
    padding-left: 6vw;
}

li.contact-number {
    font-family: "Poppins",sans-serif;
    font-size: 3vw;
    color: #fff;
    margin-top: 23px;
    font-weight: 400;
}

div.address{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}

p.address {
    font-family: "Poppins",sans-serif;
    color: #756479;
    font-size: 2vw;
    margin-bottom: 5px;
    font-weight: 400;
}

body.contacts{
  background-color: #ffcb6b;
}





/*
================================================================================
WIDESCREEN LIMITS
================================================================================
*/

@media only screen and (min-width: 1001px) {

  h1.category {
    font-family: "Josefin Sans",sans-serif;
    font-weight: 600;
    font-size: 120px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 50px;
  }

  h2.event-head {
    font-family: "Josefin Sans",sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }
  .cultural-container,.literary-container,.sports-container,.crescendo-container,.fashion-container,.cove-container,.encore-container,.dioptre-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }


  p.event-tag {
    font-family: "Roboto",sans-serif;
    text-align: left;
    margin-top: 12px;
    margin-left: 3%;
    font-size: 17px;
    line-height: 25px;
    margin-right: 3%;
    font-weight: 300;
  }


  p.vervetag {
    text-align: center;
    width: 90%;
    line-height: 28px;
    font-size: 17px;
  }


  img.icon {
    display: block;
    height: 65px;
    width: 65px;
    margin-left: 3%;
    -ms-flex-item-align: center;
        align-self: center;
  }

  h3.event-subhead {
    font-family: "Josefin Sans",sans-serif;
    font-size: 45px;
    margin-left: 2%;
  }

  p.quote {
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin-left: 3%;
    margin-top: 15px;
    margin-right: 3%;
    color: #ffffff;
    text-align: center;
  }


  p.quote-owner {
    text-align: right;
    margin-right: 10%;
    margin-top: 11px;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
  }

  .eventcard {
    margin-left: 10%;
    margin-right: 10%;
    width: 788px;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
  }

  footer.main{
    width: 788px;
    border-radius: 20px;
    background-color: #272727;
    margin-bottom: 20px;
  }



p.qc2{
  color: #f82f53;
}


h1.contact-head{
  font-size: 100px;
}


ul.contacts {
    margin-right: 40px;
}

li.contact-name {
    font-size: 30px;
    padding-left: 60px;
}

li.contact-number {
    font-size: 30px;
}


p.address {
    font-size: 20px;

}

}





/*
================================================================================
MOBILE SITE
================================================================================
*/
@media only screen and (max-width: 700px) {
  .nav{
    display: none;
  }

  h3.aiims {
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 18px;
  }

  h3.raipur{
    font-size: 17px;
  }

  .logo {
    width: 70px;
    padding-top: 5px;
  }

  .title{
    font-size: 22px;
    padding-top: 5px;
  }

  .date{
    font-size: 15px;
  }

  .count-down-units{
    font-size: 20px;
    padding: 10px 7px 2px 7px;
  }

  .count-down-tail{
    font-size: 6px;
  }

  .header-container{
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    border-radius: 10px;
  }


  .bob,.sports,.cultural,.literary,.gaming,.encore,.art,.photography,.alamode {
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
  }
  .overlay-2,.overlay-3,.overlay-4,.overlay-5,.overlay-6,.overlay-7,.overlay-8,.overlay-9,.overlay-10{
    position: relative;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }

  .overlay-2{
    background-color: #800080;
  }

  .overlay-3{
    background-color: #e05b4f;
  }

  .overlay-4{
    background-color: #9a8bce;
  }

  .overlay-5 {
    background-color: #a52245;
  }

  .overlay-6{
    background-color: #353434;;
  }

  .overlay-7{
    background-color: #8d5723;
  }

  .overlay-8{
    background-color: #35478C;
  }

  .overlay-9{
    background-color: #1b7167;
  }

  .overlay-10{
    background-color: #313131;
  }

  p.Event-title {
    color: white;
    text-align: center;
    padding: 0;
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    opacity: 1.0;
    width: 100%;
  }

  p.Event-text {
    text-align: center;
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 90%;
  }

  p.etcbob {
    color: #eccbb2;
  }

  a.knowmore{

    margin: 0;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    width: 90%;
    padding: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a.knowmore:link,a.knowmore:visited{
    text-decoration: none;
  }

  a.knowmore:hover{
    text-decoration: none;

  }

  a.knowmore:active{
    text-decoration: none;
  }


  a.kmcbob:link,a.kmcbob:visited{
    background-color: rgba(255,255,255,1);
    color: #800080;
  }

  a.kmcbob:hover{
    color: #800080;
    background-color: rgba(255,255,255,1);
  }

  p.etcsports,p.etccultural{
    color: #ffffff;
  }

  a.kmcsports:link,a.kmcsports:visited{
    background-color: rgba(255, 255, 255, 1);
    color: #e05b4f;
  }

  a.kmcsports:hover{
    color: #e05b4f;
    background-color: rgba(255, 255, 255, 1);
  }

  a.kmccultural:link,a.kmccultural:visited{
    background-color: rgba(255, 255, 255, 1);
    color: #9a8bce;
  }

  a.kmccultural:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #9a8bce;
  }

  p.etcliterary{
    color: #efd2b6;
  }

  a.kmcliterary:link,a.kmcliterary:visited{
    background-color: rgba(255, 255, 255, 1);
    color: #a52245;
  }

  a.kmcliterary:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #a52245;
  }

  p.etcgaming{
    color: #ffffff;
  }

  a.kmcgaming:link,a.kmcgaming:visited{
    background-color: #ffffff;
    color: #353434;
  }

  a.kmcgaming:hover{
    background-color: rgba(255,255, 255, 1);
    color: #353434;
  }

  p.etcencore{
    color: #ffffff;
  }

  a.kmcencore:link,a.kmcencore:visited{
    background-color: #ffffff;
    color: #8d5723;
  }

  a.kmcencore:hover{
    background-color: rgba(255,255, 255, 1);
    color: #8d5723;
  }

  p.etcart{
    color: #ffffff;
  }

  a.kmcart:link,a.kmcart:visited{
    background-color: #ffffff;
    color: #35478C;
  }

  a.kmcart:hover{
    background-color: rgba(255,255, 255, 1);
    color: #35478C;
  }

  p.etcdioptre{
    color: #ffffff;
  }

  a.kmcdioptre:link,a.kmcdioptre:visited{
    background-color: #ffffff;
    color: #1b7167;
  }

  a.kmcdioptre:hover{
    background-color: rgba(255,255, 255, 1);
    color: #1b7167;
  }

  p.etcfashion{
    color: #ffffff;
  }

  a.kmcfashion:link,a.kmcfashion:visited{
    background-color: #ffffff;
    color: #313131;
  }

  a.kmcfashion:hover{
    background-color: rgba(255,255, 255, 1);
    color: #313131;
  }

  body{
    background-color: #616161;
  }


  .eventcard {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
  }

  .poster {
    width: 90%;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 10px;
    margin-top: 5px;
  }

  h2.event-head {
    font-family: "Josefin Sans",sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }


  p.event-tag {
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin-top: 12px;
    margin-left: 3%;
    font-size: 14px;
    line-height: 20px;
    margin-right: 3%;
    font-weight: 300;
  }

  p.vervetag {
    text-align: center;
    width: 90%;
    line-height: 20px;
    font-size: 14px;
  }

  img.icon {
    display: block;
    height: 35px;
    width: 35px;
    margin-left: 3%;
    margin-bottom: 5px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  h3.event-subhead {
    font-family: "Josefin Sans",sans-serif;
    font-size: 30px;
    margin-left: 2%;
  }

  p.quote {
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 18px;
    margin-left: 3%;
    margin-top: 8px;
    margin-right: 3%;
    color: #ffffff;
    text-align: center;
  }

  p.quote2 {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
  }

  p.quote-owner {
    text-align: right;
    margin-right: 8%;
    margin-top: 11px;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }

  p.qc2{
    color: #f82f53;
  }


  .flinks{
    display: block;
    text-align: center;
  }

  footer.home{
    background-color: #272727;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  footer.main{
    background-color: #272727;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    border-radius: 20px;
    margin-bottom: 5px;

  }



  ul.footer-home{
    margin-top: 10px;
    margin-bottom: 20px;

  }

  footer.home{
    width: auto;
  }

  .social-home{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
  }

  .footer-link{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 7px 5px 7px 5px;
  }

  img.social-icon {
      display: block;
      width: 45px;
      height: 45px;
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 30px;
  }

p.social{
  font-size: 18px;
  padding-left: 7px;
  padding-top: 12px;
}


a.app{
  font-size: 21px;
  padding-bottom: 16px;
  padding-top: 3px;
  padding-left: 7px;
}

h1.contact-head{
  font-size: 54px;
}

ul.contacts{
  margin-right: 2.5vw;
}

li.contact-name{
  font-size: 17px;
  margin-top: 17px;
  padding-left: 10px;
}

li.contact-number{
  font-size: 17px;
  margin-top: 17px;
}

p.address{
  font-size: 17px;
}

}

@media only screen and (min-width: 1081px) {

.home-container{
  width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 16px 15px #3c3c3c;
          box-shadow: 0px 0px 16px 15px #3c3c3c;
}

h3.aiims{
  font-size: 27px;
}

h3.raipur{
  font-size: 22px;
}



.title{  font-size: 54px;
}

.date{  font-size: 28px;
}

.logo{
  width: 194px;
}

.count-down-units{
  font-size: 33px;
  padding: 11px;
}

.count-down-tail{
  font-size: 18px;
  opacity:0.5;
}

p.Event-title {
  padding-left: 43px;
  font-size: 86px;
}

p.Event-text {
  padding-left: 43px;
  font-size: 23px;
  line-height: 32px;
}

a.knowmore{

  margin-left: 46px;
  font-size: 26px;
  width: 173px;
  padding: 8px;
  margin-top: 33px;
}

a.nav-link{
  font-size: 18px;

}

img.social-icon{
  width: 54px;
  height: 54px;
  padding-left: 54px;
}

p.social {
  font-size: 16px;
  padding-left: 9px;
}

a.app {
  padding-left: 9px;
  font-size: 25px;
}

body{
  background-color: #616161;
}

}
